{% extends '@Twig/layout.html.twig' %}


{% block body %}

 <div class="container-fluid" style="padding-top: 70px">
     <div class="row" >

         <div class="col-md-10">


             <div class="alert alert-danger" role="alert">
               <h2>  <span class="glyphicon glyphicon-remove"> </span>  {{ exception.message|nl2br|format_file_from_text }}!</h2>
             </div>



         </div>

     </div>

 </div>



{% endblock %}