{% extends "base.html.twig" %}

{% block body %}

    <div class="container" style="padding-top: 72px;">


        <div class="row">


            <div class="col-lg-12">


                <div class="alert alert-success"> <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Thanks {{ app.user.email }} for Your application  , We wish togather
                    do the best for the future of Kids , we will contact you ASAP :)</h3>

                </div>

            </div>


    </div>
{% endblock %}